<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Blenny</string>
	<key>CFBundleExecutable</key>
	<string>Blenny</string>
	<key>CFBundleIdentifier</key>
	<string>xyz.fi5h.blenny</string>
	<key>CFBundleIconFile</key>
	<string>BlennyAppIcon.icns</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Blenny</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>106</string>
	<key>LSMinimumSystemVersion</key>
	<string>27.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAccessibilityUsageDescription</key>
	<string>Blenny uses Device Control access to identify menu bar apps and observe the system overflow control.</string>
	<key>NSAppDataUsageDescription</key>
	<string>Blenny uses access to menu bar settings to save and undo the order you choose.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>5arG8vODzC8cPJDK43ESO54F5sVtQzxFZuFBcd0+NJc=</string>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blenny Policy Bundle Drag</string>
			<key>UTTypeIdentifier</key>
			<string>xyz.fi5h.blenny.policy-bundle-drag</string>
		</dict>
	</array>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/f-is-h/Blenny/main/appcast.xml</string>
</dict>
</plist>
